In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Log Data.csv")

In [3]:
df = df.set_index('Date')

In [4]:
df

             ta        cc       ffr         lf
Date
2003  13.540823  6.573947  0.984194  -3.020720
2004  13.603520  6.624590  2.156129  -1.955696
2005  13.641222  6.663562  4.157097  -0.731402
2006  13.667888  6.696201  5.238065  -0.060310
2007  13.694235  6.709663  4.244516  -0.836372
2008  14.614250  6.777514  0.155161 -11.634505
2009  14.612665  6.829053  0.118065 -35.050026
2010  14.687930  6.886930  0.183226 -28.981910
2011  14.877231  6.972049  0.071613 -20.250585
2012  14.880618  7.053322  0.164516 -15.306705
2013  15.199754  7.115002  0.085161  -7.406970
2014  15.318895  7.190449  0.122581  -2.841206
2015  15.316526  7.254916  0.240645  -1.759177
2016  15.310667  7.312790  0.540000  -0.519442
2017  15.307629  7.380595  1.301613  -0.087971
2018  15.222481  7.442430  2.274194   0.013209
2019  15.230382  7.492348  1.550968   0.028774
2020  15.805986  7.635558  0.090000  -7.560211
2021  15.981578  7.707004  0.079677   8.358281

In [7]:
df1 = df.diff().dropna()
df1

            ta        cc       ffr         lf
Date
2004  0.062697  0.050643  1.171935   1.065023
2005  0.037701  0.038972  2.000968   1.224295
2006  0.026666  0.032639  1.080968   0.671092
2007  0.026347  0.013461 -0.993548  -0.776063
2008  0.920015  0.067851 -4.089355 -10.798132
2009 -0.001585  0.051539 -0.037097 -23.415521
2010  0.075264  0.057877  0.065161   6.068116
2011  0.189301  0.085119 -0.111613   8.731325
2012  0.003387  0.081273  0.092903   4.943880
2013  0.319136  0.061680 -0.079355   7.899735
2014  0.119142  0.075447  0.037419   4.565764
2015 -0.002370  0.064467  0.118065   1.082028
2016 -0.005859  0.057874  0.299355   1.239736
2017 -0.003037  0.067805  0.761613   0.431471
2018 -0.085148  0.061834  0.972581   0.101180
2019  0.007901  0.049918 -0.723226   0.015565
2020  0.575604  0.143210 -1.460968  -7.588986
2021  0.175592  0.071446 -0.010323  15.918492

In [8]:
df1.to_csv("df1.csv")

In [9]:
df2 = df1.diff().dropna()
df2

            ta        cc       ffr         lf
Date
2005 -0.024996 -0.011671  0.829032   0.159271
2006 -0.011035 -0.006333 -0.920000  -0.553203
2007 -0.000319 -0.019178 -2.074516  -1.447154
2008  0.893668  0.054390 -3.095806 -10.022070
2009 -0.921600 -0.016312  4.052258 -12.617388
2010  0.076849  0.006339  0.102258  29.483636
2011  0.114037  0.027242 -0.176774   2.663209
2012 -0.185914 -0.003846  0.204516  -3.787445
2013  0.315749 -0.019593 -0.172258   2.955855
2014 -0.199995  0.013767  0.116774  -3.333971
2015 -0.121511 -0.010979  0.080645  -3.483736
2016 -0.003490 -0.006593  0.181290   0.157708
2017  0.002822  0.009931  0.462258  -0.808265
2018 -0.082110 -0.005971  0.210968  -0.330291
2019  0.093048 -0.011916 -1.695806  -0.085615
2020  0.567703  0.093292 -0.737742  -7.604551
2021 -0.400011 -0.071764  1.450645  23.507478

In [10]:
df2.to_csv("df2.csv")